<div class="card my-4 table-responsive p-2">
    <table class=" table table-striped  table-sm row-border hover" datatable [dtOptions]="dtOptions">
        <thead>
            <tr>
                <th colspan="6">Venue : Ravi Bhavan</th>
                <th colspan="7"><button class="btn btn-block text-white" style="background-color: var(--primary);">Generate Pass</button></th>
            </tr>
            <tr>
                <th>Sr. No.</th>
                <th>Buckel Number</th>
                <th>Name</th>
                <th>Mobile Number</th>
                <th>Designation</th>
                <th>Company Name</th>
                <th>Station</th>
                <th>Duty Place</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Duration</th>
                <th>Duration (24 hr)</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let venue of tabelEntries; let i = index ">

                <td>{{ i + 1 }}</td>
                <td>12345 67895</td>
                <td>Nidhey Indurkar</td>
                <td>7020793286</td>
                <td>Director General of Police</td>
                <td>Maharashtra Police</td>
                <td>KHAPARKHEDA</td>
                <td>Taj mahal</td>
                <td>1/01/21</td>
                <td>5/01/21</td>
                <td>10:00 am -8:00 pm</td>
                <td>4 hrs</td>
            </tr>

        </tbody>


    </table>
</div>